<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="autorcForm">
        <label for="autor">Выберите музыкальный файл:</label>
        <input type="file" class="autor" name="autor" >
        <input type="file" class="autor1" name="autor1" >
        <input type="file" class="autor2" name="autor2" >
        <input type="text" class="name">
        <input type="text" class="title">
        <button type="submit">Загрузить</button>
    </form>
</body>
<script src="autor.js"></script>
</html>