<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="musicForm">
        <label for="music1">Выберите музыкальный файл:</label>
        <input type="file" id="music1" name="music1" >
        <h1>music</h1>
        <input type="file" class="img" name="img" >
        <input type="text" class="name">
        <button type="submit">Загрузить</button>
    </form>
        

     
</body>
<script src="music.js"></script>

</html>
