<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="musicForm">
        <label for="music1">Выберите музыкальный файл:</label>
        <input type="file" id="music1" name="music1" accept=".mp3, .wav">
        <button type="submit">Загрузить</button>
    </form>
        <input type="file" name="music1" id="music1" />
        <button class="button">Загрузить музыку</button>
     <button class="playmusic">play</button>

  
</body>
<script src="music.js"></script>

</html>
